body{
    font-family: 'Fira Sans', sans-serif;
    margin:0;
}

#welcome-note{
    font-size: 60px;
    font-weight: 700px;
    color: rgb(77, 20, 0);
}
.top img{
    width: 100%;
    opacity: 60%;
}
.text{
    position: absolute;
    top: 40%;
    left: 30%;
    
}
.orange{
    color: orangered;
}
.head{
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
    margin-left: 20%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.button{
    background-image: linear-gradient(orangered,orange);
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 30px;
    border-radius: 40px;
    font-weight: 700PX;
}
.about-me img{
    width: 50%;
    
}
.about-me{
    background-image: url(images/shapes/7.png);
}
.recipe{
    text-align: center;
}